{% extends 'layout.html.twig' %}

{% block connect %}
    <a class="text-light" href="{{ path("login") }}">Log in</a>
{% endblock %}

{% block main %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Send</button>
    {{ form_end(form) }}
{% endblock %}

{% block title %}{{ parent() }} | Home{% endblock %}