{% extends 'layout.html.twig' %}

{% block main %}
    <h1>Nouveau fichier :</h1>
    <div>
        {{ form_start(mediaForm) }}
        {{ form_widget(mediaForm) }}
        <button type="submit">Ajouter</button>
        {{ form_end(mediaForm) }}
    </div>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block title %}{{ parent() }} | AboutUs{% endblock %}
