{% extends 'layout.html.twig' %}

{% block main %}

    <h1>Nouveau fichier :</h1>

    {{ form_start(mediaForm) }}

    <div>
        {{ form_row(mediaForm.name) }}
    </div>
    <div>
        {{ form_row(mediaForm.description) }}
    </div>

    <div>
        {{ form_row(mediaForm.picture) }}

    </div>
    <div>
        {{ form_row(mediaForm.utilisateur) }}
    </div>
    <div>
        {{ form_row(mediaForm.genre) }}
    </div>

    <div>
        <button type="submit">Ajouter</button>
    </div>

    {{ form_end(mediaForm) }}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block title %}{{ parent() }} | AboutUs{% endblock %}


