{% extends 'layout.html.twig' %}

{% block main %}
    <h1>Details</h1>
    {{ form_start(mediaForm) }}

    <div>
        {{ form_row(mediaForm.name) }}
    </div>
    <div>
        {{ form_row(mediaForm.description) }}
    </div>

    <div>
        {{ form_row(mediaForm.picture) }}

    </div>
    <div>
        {{ form_row(mediaForm.utilisateur) }}
    </div>
    <div>
        {{ form_row(mediaForm.genre) }}
    </div>
    <div>
        {{ form_row(mediaForm.media) }}
    </div>
    {#<div>#}
        {#<video width="400" height="222" controls="controls">#}
            {#<source src="{{ mediaForm }}" type="video/mp4"/>#}
            {#<source src="video.webm" type="video/webm"/>#}
            {#<source src="video.ogv" type="video/ogg"/>#}
            {#Ici l'alternative à la vidéo : un lien de téléchargement, un message, etc.#}
        {#</video>#}
    {#</div>#}


    <div>
        <button type="submit">Modifier</button>
    </div>

    {{ form_end(mediaForm) }}


    <a href="{{ path("admin") }}"><br>Retour à la liste</a>
{% endblock %}
