{% extends 'layout.html.twig' %}

{% block header %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Media player</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log out</button>
        </div>
    </nav>
{% endblock %}

{% block main %}
    {% for media in medias %}

        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top"
                             data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                             alt="{{ media.name }}" style="height: 225px; width: 100%; display: block;" src=""
                             data-holder-rendered="true">
                        <div class="card-body">
                            <p class="card-text">{{ media.description }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ path("editMedia", {"id": media.id}) }}">Modifier</a></button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ path("deleteMedia", {"id": media.id}) }}">Supprimer</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            {#<p><a href="{{ path("editMedia", {"id": media.id}) }}">{{ media.name }}</a>#}
                {#<button><a href="{{ path("deleteMedia", {"id": media.id}) }}">Supprimer ce fichier</a></button>#}
            {#</p>#}
        </div>

    {% endfor %}

    <button><a href="{{ path("addMedia") }}">Ajouter un fichier</a></button>

{% endblock %}
