{% extends 'layout.html.twig' %}
{% block admin %}
    <li class="nav-item active">
        <a class="nav-link" href="{{ path("listUsers") }}">Utilisateurs<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ path("listTypeMedias") }}">TypeMedia<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ path("listGenres") }}">Genres<span class="sr-only">(current)</span></a>
    </li>
{% endblock %}

{% block connect %}
    <a href="{{ path("logout") }}">Log out</a>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            {% for media in medias %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top"
                             data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                             alt="{{ media.name }}" style="height: 225px; width: 100%; display: block;"
                             src="{{ asset('upload/'  ~ media.picture) }}"
                             data-holder-rendered="true">
                        <div class="card-body">
                            <p class="card-text">{{ media.description }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                                href="{{ path("editMedia", {"id": media.id}) }}">Modifier</a></button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                                href="{{ path("deleteMedia", {"id": media.id}) }}">Supprimer</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


    <button type="button" class="btn btn-sm btn-outline-primary"><a href="{{ path("addMedia") }}">Ajouter un fichier</a>
    </button>

{% endblock %}
