{% extends 'layout.html.twig' %}

{% block admin %}
    <li class="nav-item active">
        <a class="nav-link" href="{{ path("listUsers") }}">Utilisateurs<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ path("listTypeMedias") }}">TypeMedia<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ path("listGenres") }}">Genres<span class="sr-only">(current)</span></a>
    </li>
{% endblock %}

{% block main %}

    <h2>Modifier le type:</h2>

    {{ form_start(typeMediaForm) }}

    <div>
        {{ form_row(typeMediaForm.name) }}
    </div>

    <div>
        <br>
        <div class="btn-group">
            <button class="btn btn-lg btn-light" type="submit">Enregistrer</button>
            <button class="btn btn-lg btn-light" ><a href="{{ path("listTypeMedias") }}">Retour à la liste</a></button>

        </div>
    </div>

    {{ form_end(typeMediaForm) }}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block title %}{{ parent() }} | AboutUs{% endblock %}