{% extends 'layout.html.twig' %}

{% block admin %}
    <li class="nav-item active">
        <a class="nav-link" href="{{ path("listUsers") }}">Utilisateurs<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ path("listTypeMedias") }}">TypeMedia<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ path("listGenres") }}">Genres<span class="sr-only">(current)</span></a>
    </li>
{% endblock %}

{% block connect %}
    <a href="{{ path("logout") }}">Log out</a>
{% endblock %}

{% block main %}
    {% for typeMedia in typeMedias %}
        <div>
            {{ typeMedia.name }}
            <button type="button" class="btn btn-sm btn-outline-secondary"><a
                        href="{{ path("editTypeMedia", {"id": typeMedia.id}) }}">Modifier</a>
            </button>
        </div>
    {% endfor %}
    <button>
        <a class="add-typeMedia" href="{{ path('addTypeMedia') }}">
            Ajouter un type de Media
        </a>
    </button>
{% endblock %}