{% extends 'layout.html.twig' %}

{% block admin %}
    <li class="nav-item active">
        <a class="nav-link" href="{{ path("listUsers") }}">Utilisateurs<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ path("listTypeMedias") }}">TypeMedia<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ path("listGenres") }}">Genres<span class="sr-only">(current)</span></a>
    </li>
{% endblock %}

{% block connect %}
    <a href="{{ path("logout") }}">Log out</a>
{% endblock %}

{% block main %}
    <div>
        <h1>Liste des utilisateurs: </h1><br>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">Username</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>
                        <button type="button" class="btn btn-md btn-light glyphicon glyphicon-edit"><a
                                    href="{{ path("editUser", {"id": user.id}) }}">Modifier</a>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-md btn-light glyphicon glyphicon-edit"><a
                                    href="{{ path("deleteUser", {"id": user.id}) }}">Supprimer</a>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <button class="btn btn-md btn-light glyphicon glyphicon-add">
        <a class="add-typeMedia" href="{{ path('addUser') }}">
            Ajouter un utilisateur
        </a>
    </button>
{% endblock %}
